/* Code added for center background image -- need a higher res image in order for this to look nice. Image gets a little blurry in a larger browser window. */

/* body { 
  background: url('https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fHBsYW50fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 75%;
}  */

body {
  background-image: url('https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fHBsYW50fGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80');
}

h1, h2, h3, h4, h5 {
  font-family: 'Amatic SC', cursive;
}

.h1-main {
  font-size: 75px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



button {
  padding: 1% 6.5% 1% 6.5%;
  background-color:#355e3b;
  border-color: white;
  border-radius: 50px 50px 145px 145px;
}


.h-update-profile {
  margin-top: 10%;
}

.h-add-plant {
  margin-top: 10%;
}

.profile-card {
  border: 2px solid#355e3b;
  margin: 2% 20% 3% 20%;
  padding: 2% 2% 4.5% 2%;
}

.update-user {
  border-radius: 40px;
  margin-right: 100%;
  padding: 2% 5% 2% 5%;
  background-color: #355e3b
}

.delete {
  margin: -5.5% -3% -10% 80%;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
  background-color: #355e3b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-nav-btn {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(0, 128, 6);
  border-radius: 6px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  margin: 16px 8px;
  padding: 8px;
  background-color: #6df18c;
  color: white;
}
.nav-btn {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(75, 121, 98);
  border-radius: 6px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  margin: 16px 8px;
  padding: 8px;
  background-color: #f8dd8c;
}

.signupButton {
	margin: 0 auto;
  min-width: 130px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.loginButton {
	margin: 0 auto;
  min-width: 130px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}