.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button {
  padding: 1% 6.5% 1% 6.5%;
  background-color:#355e3b;
  border-color: white;
  border-radius: 50px 50px 145px 145px;
}


.h-update-profile {
  margin-top: 10%;
}

.h-add-plant {
  margin-top: 10%;
}

.profile-card {
  border: 2px solid#355e3b;
  margin: 2% 20% 3% 20%;
  padding: 2% 2% 4.5% 2%;
}

.update-user {
  border-radius: 40px;
  margin-right: 100%;
  padding: 2% 5% 2% 5%;
  background-color: #355e3b
}

.delete {
  margin: -5.5% -3% -10% 80%;
  padding: 2% 2% 2% 2%;
  cursor: pointer;
  background-color: #355e3b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
